:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;

  --default-padding: 2rem;
  --default-redius: 0.8rem;
  --default-gap: 0.5rem;
}
// CSS Reset
* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  display: inline-block;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: var(--color-white);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  gap: var(--default-padding);
  background: url('../assets/pattern1.jpg') var(--color-very-dark-blue);
  background-size: contain;
  background-blend-mode: difference;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  padding-bottom: var(--default-padding);
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.2rem);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  border-radius: var(--default-redius);
  overflow: hidden;
  &:not(:first-child) {
    padding: var(--default-padding);
  }

  &:nth-child(1) {
    grid-row: span 2;
  }
  & .top {
    background-color: var(--color-desaturated);
    padding: var(--default-padding);
  }
  z-index: 1;
}

.top-picture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
}

.top__name {
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--default-padding);
  margin: auto 0;
}

.row {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--default-gap);
}

.icons {
  display: flex;
  gap: var(--default-gap);
}

.username {
  font-size: 1.2rem;
  font-weight: 300;
}

.card__link {
  font-size: 2.4rem;
  font-weight: 300;
}

.card__type {
  font-size: 1.2rem;
  font-weight: 400;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  margin-top: var(--default-padding);
  font-size: 1.2rem;
}

.stack-title {
  font-weight: 300;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.language {
  display: inline-block;
  background-color: var(--color-desaturated);
  padding: 0.3rem 0.4rem;
  border-radius: calc(var(--default-redius) / 3);
}
